USE [bst]
GO
/****** Object:  Table [dbo].[t_ggb]    Script Date: 02/26/2014 21:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_ggb](
	[gh] [nvarchar](50) NOT NULL,
	[mc] [nvarchar](50) NULL,
	[gg] [nvarchar](50) NULL,
	[th] [nvarchar](50) NULL,
	[sbh] [nvarchar](50) NULL,
	[cz] [nvarchar](50) NULL,
	[dz] [float] NOT NULL,
	[sl] [int] NULL,
	[bz] [nvarchar](50) NULL,
	[belongkh] [nvarchar](50) NULL,
 CONSTRAINT [PK_t_ggb] PRIMARY KEY CLUSTERED 
(
	[gh] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[t_ggb] ([gh], [mc], [gg], [th], [sbh], [cz], [dz], [sl], [bz], [belongkh]) VALUES (N'1-001', NULL, NULL, NULL, NULL, NULL, 17, NULL, NULL, NULL)
INSERT [dbo].[t_ggb] ([gh], [mc], [gg], [th], [sbh], [cz], [dz], [sl], [bz], [belongkh]) VALUES (N'1-002', NULL, NULL, NULL, NULL, NULL, 6.5, NULL, NULL, NULL)
INSERT [dbo].[t_ggb] ([gh], [mc], [gg], [th], [sbh], [cz], [dz], [sl], [bz], [belongkh]) VALUES (N'1-003', NULL, NULL, NULL, NULL, NULL, 32.7, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
